<div>
    <h2 id="page-heading">
        <span jhiTranslate="processminingApp.process.home.title">Processes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-process" [routerLink]="['/process/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="processminingApp.process.home.createLabel">
            Create a new Process Step
            </span>
        </button>
    </h2>

    <table>
        <tr>
            <th>
                <div style="display: block;">
                    <canvas baseChart
                            [datasets]="scatterChartData"
                            [options]="scatterChartOptions"
                            [chartType]="scatterChartType">
                    </canvas>
                </div>
            </th>
            <th>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form name="editForm" role="form" novalidate (ngSubmit)="processUpdate.save()" [formGroup]="processUpdate.editForm">
                            <h2 id="jhi-process-heading" jhiTranslate="processminingApp.process.home.createOrEditLabel">Create or edit a Process</h2>

                            <div>
                                <jhi-alert-error></jhi-alert-error>

                                <!--<div class="form-group" [hidden]="!processUpdate.editForm.get('id')!.value">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                                </div>-->

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="processminingApp.process.name" for="field_name">Name</label>
                                    <input type="text" class="form-control" name="name" id="field_name"
                                           formControlName="name"/>
                                    <div *ngIf="processUpdate.editForm.get('name')!.invalid && (processUpdate.editForm.get('name')!.dirty || processUpdate.editForm.get('name')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="processUpdate.editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="processminingApp.process.step" for="field_step">Step</label>
                                    <input type="text" class="form-control" name="step" id="field_step"
                                           formControlName="step"/>
                                    <div *ngIf="processUpdate.editForm.get('step')!.invalid && (processUpdate.editForm.get('step')!.dirty || processUpdate.editForm.get('step')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="processUpdate.editForm.get('step')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="processminingApp.process.level" for="field_level">Level</label>
                                    <input type="number" class="form-control" name="level" id="field_level"
                                           formControlName="level"/>
                                    <div *ngIf="processUpdate.editForm.get('level')!.invalid && (processUpdate.editForm.get('level')!.dirty || processUpdate.editForm.get('level')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="processUpdate.editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                               [hidden]="!processUpdate.editForm.get('level')?.errors?.number" jhiTranslate="entity.validation.number">
                                            This field should be a number.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="processUpdate.previousState()">
                                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>

                                <button type="submit" id="save-entity" [disabled]="processUpdate.editForm.invalid || processUpdate.isSaving" class="btn btn-primary">
                                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </th>
        </tr>
    </table>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="processes?.length === 0">
        <span jhiTranslate="processminingApp.process.home.notFound">No processes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="processes && processes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="processminingApp.process.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="step"><span jhiTranslate="processminingApp.process.step">Step</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="level"><span jhiTranslate="processminingApp.process.level">Level</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let process of processes ;trackBy: trackId">
                    <td><a [routerLink]="['/process', process.id, 'view']">{{ process.id }}</a></td>
                    <td>{{ process.name }}</td>
                    <td>{{ process.step }}</td>
                    <td>{{ process.level }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/process', process.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/process', process.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(process)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="processes && processes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
