<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-process-execution-heading" jhiTranslate="processminingApp.processExecution.home.createOrEditLabel">Create or edit a Process Execution</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processminingApp.processExecution.processName" for="field_processName">Process Name</label>
                    <input type="text" class="form-control" name="processName" id="field_processName"
                           formControlName="processName"/>
                    <div *ngIf="editForm.get('processName')!.invalid && (editForm.get('processName')!.dirty || editForm.get('processName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('processName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processminingApp.processExecution.execution" for="field_execution">Execution</label>
                    <input type="text" class="form-control" name="execution" id="field_execution"
                           formControlName="execution"/>
                    <div *ngIf="editForm.get('execution')!.invalid && (editForm.get('execution')!.dirty || editForm.get('execution')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('execution')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processminingApp.processExecution.processName" for="field_processName">Process Name</label>
                    <select class="form-control" id="field_processName" name="processName" formControlName="processName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="processOption.id === editForm.get('processName')!.value?.id ? editForm.get('processName')!.value : processOption" *ngFor="let processOption of processes; trackBy: trackById">{{ processOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
